.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-item {
  display: table-row;
}
.list-title {
  font-weight: 700;
  font-size: 30px;
}
.list-text {
  min-height: 100px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../../Assets/para.jpg");
  background-position: center;
  text-align: center;
  border-radius: 15px;
  margin: 30px 20px 0px 20px;
}
.list-text-inner {
  border-radius: 15px;
  padding: 40px 40px 40px 40px;
  background: linear-gradient(0deg, #012a4c 30%, rgba(2, 32, 56, 0.204) 100%);
}

.list-text-inner img {
  width: 70%;
  max-width: 160px;
  height: auto;
}

.list-text-inner p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}

.list-item {
  display: block;
  text-align: center;
  padding: 24px;
  width: 48%;
}

@media (max-width: 768px) {
  .list-item {
    padding: 18px;
    width: 100%;
    max-width: 500px;
  }
  .list-text-inner {
    padding: 20px 20px 20px 20px;
  }
}
